<%
  var title = title || config.title;
%>
<ul>
  <li title="Facebook"><a class="icon" href="http://www.facebook.com/sharer.php?u=<%= url %>"><i class="fa fa-facebook <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li title="Twitter"><a class="icon" href="https://twitter.com/share?url=<%= url %>&text=<%= title %>"><i class="fa fa-twitter <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li title="LinkedIn"><a class="icon" href="http://www.linkedin.com/shareArticle?url=<%= url %>&title=<%= title %>"><i class="fa fa-linkedin <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li title="Pininterest"><a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url=<%= url %>&is_video=false&description=<%= title %>"><i class="fa fa-pinterest <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li title="Email"><a class="icon" href="mailto:?subject=<%= title %>&body=Check out this article: <%= url %>"><i class="fa fa-envelope <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li title="reddit"><a class="icon" href="http://reddit.com/submit?url=<%= url %>&title=<%= title %>"><i class="fa fa-reddit <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li title="Digg"><a class="icon" href="http://digg.com/submit?url=<%= url %>&title=<%= title %>"><i class="fa fa-digg <%= icon_class_name %>" aria-hidden="true"></i></a></li>
</ul>
