<footer id="footer">
  <div class="footer-left">
    Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <li><a href="<%- url_for() %>">首頁</a></li>
        <% if (page.source) { %><li><a target="_blank" href="<%= theme.miscellaneous.source.prefix%><%= page.source %>">源碼</a><% } %>
        <li><a href="<%- url_for(theme.rss) %>">RSS</a></li>
      </ul>
    </nav>
  </div>
</footer>
