<div class="right"><a href="<%- url_for(config.archive_dir) %>">所有文章列表</a></div>

<% if(site.tags.length) { %>
	<section>
		<h1>依標籤瀏覽</h1>
		<%- list_tags(site.tags, {style: ''}) %>
		<!--<%- tagcloud(site.tags) %>-->
	</section>
<% } %>

<% if(site.categories.length > 1) { %>
	<section>
		<h1>依分類瀏覽 (<%= site.categories.length %>)</h1>
		<%- list_categories(site.categories) %>
	</section>
<% } %>

<section>
	<h1>依時間瀏覽</h1>
	<!--%- list_archives({type: "yearly", style: ""}) %-->
	<%- list_archives({format: "YYYY MMMM"}) %>
</section>

<hr>
<%- partial('_partial/search') %>
