<!DOCTYPE html>
<html lang="<%=page.lang%>">
<%- partial('_partial/head') %>
<body>
    <div id="fb-root"></div>
    <%- partial('_partial/post/actions_desktop') %>
    <div class="content index width mx-auto px2 my3">
        <%- partial('_partial/header') %>
        <%- body %>
    </div>
    <%- partial('_partial/post/actions_mobile') %>
    <%- partial('_partial/footer') %>
</body>
</html>
<%- partial('_partial/styles') %>
<%- partial('_partial/scripts') %>
