<header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
</header>

<%- page.content %>

<% if(page.restricted) { %>
    <%- partial('_partial/restricted') %>
<% } %>

<div class="content <%= page.restricted ? "restricted" : "" %>">
    <% site.pages.sort('date', 'desc').filter(
        function(mp){ return mp.layout==page.dataset; }
    ).each(function(page) { %>
        <article class="media clearfix">
            <header>
                <h2>
                    <a href="<%- url_for(page.path) %>">
                        <%= page.id %>
                        <%= page.title %>
                    </a>
                </h2>
                <div class="meta">
                    <%- partial('_partial/post/date', { post: page, class_name: 'publish_date' }) %>
                </div>
            </header>

            <%
                var re = /<img[^\>]+src="([^"]+)"/g;
                var match, photos = [];
                while(match = re.exec(page.content))
                    photos.push(match[1]);
                if(photos.length) {
            %>
            <div class="slideshow">
                <% photos.forEach(function(photo) { %>
                    <a href="<%- url_for(page.path) %>"><img src="<%= photo %>"></a>
                <% }) %>
            </div>
            <% } %>

            <ul class="link_list">
                <% if (page.xtube) { %>
                    <li><a class="icon" rel="external" target="_blank" href="<%= page.xtube %>"><img alt="XTube" src="<%- url_for("/images/brand_icons/xtube.png") %>"></a></li>
                <% } %>
                <% if (page.pornhub) { %>
                    <li><a class="icon" rel="external" target="_blank" href="<%= page.pornhub %>"><img alt="PornHub" src="<%- url_for("/images/brand_icons/pornhub.png") %>"></a></li>
                <% } %>
                <% if (page.facebook) { %>
                    <li><a class="icon" rel="external" target="_blank" href="<%= page.facebook %>"><img alt="Facebook" src="<%- url_for("/images/brand_icons/facebook.png") %>"></a></li>
                <% } %>
                <% if (page.mega) { %>
                    <li><a class="icon" rel="external nofollow" target="_blank" href="<%= page.mega %>"><img alt="MEGA" src="<%- url_for("/images/brand_icons/mega.png") %>">下載</a></li>
                <% } %>
            </ul>
            <!--%- page.content %-->
        </article>
    <% }); %>
</div>

<footer class="<%= page.restricted ? "restricted" : "" %>">
  <%- partial('_partial/comments') %>
</footer>
