
<article class="post media" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="posttitle" itemprop="name headline">
        <%= page.id %>
        <%= page.title %>
    </h1>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>

    <%- partial('_partial/restricted') %>

  <div class="content restricted" itemprop="articleBody">
    <%- partial('_partial/post/gallery') %>
    <div class="right">
        <% if (page.mega) { %>
            <a class="icon" rel="external nofollow" target="_blank" href="<%= page.mega %>"><img alt="MEGA" style="width: 1.5rem;" src="<%- url_for("/images/brand_icons/mega.png") %>">下載</a>
        <% } else { %>
            <span style="color: #888;">未開放下載</span>
        <% } %>
    </div>
    <%- page.excerpt ? page.excerpt : page.content %>

    <% if (page.xtube) { %>
        <a class="icon" rel="external" target="_blank" href="<%= page.xtube %>"><img alt="XTube" style="height: 2rem;" src="<%- url_for("/images/brand_icons/xtube.png") %>"></a>
        <br>
        <iframe src="<%= page.xtube.replace("/video-watch/", "/video-watch/embedded/") %>?embedSize=small" frameborder=0 width="480" height="360" scrolling=no name="xt_embed_video"></iframe>
    <% } %>
    <% if (page.pornhub) { %>
        <a class="icon" rel="external" target="_blank" href="<%= page.pornhub %>"><img alt="PornHub" style="height: 2rem;" src="<%- url_for("/images/brand_icons/pornhub.png") %>"></a>
        <br>
        <iframe src="<%= page.pornhub.replace("/view_video.php?viewkey=", "/embed/") %>" frameborder="0" width="560" height="340" scrolling="no" allowfullscreen></iframe>
    <% } %>
    <% if (page.facebook) { %>
        <a class="icon" rel="external" target="_blank" href="<%= page.facebook %>"><img alt="Facebook" style="height: 1rem;" src="<%- url_for("/images/brand_icons/facebook.png") %>"> Facebook</a>
        <br>
        <div class="fb-post" data-href="<%= page.facebook %>" data-width="500" data-show-text="false"><blockquote cite="<%= page.facebook %>" class="fb-xfbml-parse-ignore"><p></p>由<a href="https://www.facebook.com/kong.sex/">阿空</a>貼上了&nbsp;<a href="<%= page.facebook %>"><%= page.date %></a></blockquote></div>
    <% } %>

    <% if (page.excerpt) { %>
        <hr>
        <%- page.more %>
    <% } %>

  </div>
</article>
<footer class="restricted">
  <%- partial('_partial/comments') %>
</footer>
