
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <% if(page.restricted) { %>
    <%- partial('_partial/restricted') %>
  <% } %>
  <div class="content <%= page.restricted ? "restricted" : "" %>" itemprop="articleBody">
    <%- partial('_partial/post/gallery') %>
    <%- page.content %>
  </div>
    <footer>
        <% if(page.from) { %>
            <div>
                本文最初發表於：
                <cite><a target="_blank" rel="external" href="<%= page.from %>"><%= page.from %></a></cite>
            </div>
        <% } %>
        <% if(page.repost) { %>
            <div>
                本文其他張貼處：
                <ul>
                    <% page.repost.forEach(function(url) { %>
                        <li><a target="_blank" rel="external" href="<%= url %>"><%= url %></a></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </footer>
</article>
<footer>
  <%- partial('_partial/comments') %>
</footer>
